<div id="contact" class="block">
  <div class="block-inner">
    <h2>Kontaktieren Sie mich</h2>
    <p>Bitte nehmen Sie Kontakt über eine der folgenden Netzwerke auf:</p>
    <div class="social-links">
      <ul>
        <!--<li><a href="https://www.facebook.com/bgschwender" target="_blank"><i class="fa fa-facebook-official" aria-hidden="true"></i></a></li>-->
        <li><a href="https://twitter.com/gschwender" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
        <li><a href="https://www.xing.com/profile/Benjamin_Gschwender2" target="_blank"><i class="fa fa-xing" aria-hidden="true"></i></a></li>
        <li><a href="https://www.linkedin.com/in/bgschwender/" target="_blank"><i class="fa fa-linkedin-square" aria-hidden="true"></i></i></a></li>
      </ul>
    </div>
  </div>
</div>