<div id="section1" class="block">
  <div class="block-inner">
    <h2>15 Jahre Berufserfahrung im Bereich der Software Entwicklung. Schwerpunkt Internet Technologie und E-Commerce.</h2>
    <div class="row" style="margin-top: 80px;">
      <div class="col-md-4">
        <div class="row">
          <div class="col-xs-3"><i class="fa fa-cogs icon" aria-hidden="true"></i></div>
          <div class="col-xs-9">
            <h4>Software Entwicklung</h4>
            <p>Einer meiner Schwerpunkte ist die Entwicklung von Software, besonders für Bereich der Internet. Näheres dazu finden Sie unter <a href="#skills">Skills</a>.</p>
            <div class="spacer-lg"></div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="row">
          <div class="col-xs-3"><i class="fa fa-bar-chart icon" aria-hidden="true"></i></div>
          <div class="col-xs-9">
            <h4>IT Projekt Management</h4>
            <p>Als Zertifizierter Projektmanagement Fachmann (<a href="http://www.gpm-ipma.de/qualifizierung_zertifizierung/ipma_4_l_c_zertifikate_fuer_projektmanager/level_d.html" target="_blank">GPM/IPMA</a>) kenne und nutze ich die Vorteile und Methoden klassischer sowie agiler Projektmanagement-Vorgehensmodelle.</p>
            <div class="spacer-lg"></div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="row">
          <div class="col-xs-3"><i class="fa fa-shopping-basket icon" aria-hidden="true"></i></div>
          <div class="col-xs-9">
            <h4>E-Commerce</h4>
            <p>Seit 2012 ist ein weiterer Schwerpunkt die Realisierung und Steuerung von Online-Shop Systemen sowie deren Anbindung an vorhandene oder neue Warenwirtschafts&shy;systemen.</p>
            <div class="spacer-lg"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>