<div id="skills" class="block">
  <div class="block-inner">
    <h2>Skills im Bereich Software Entwicklung</h2>
    <div class="dev-skills">
      <div class="dev-skill"><span class="glyphicon dev-skill-rating-5"></span><span>HTML</span></div>
      <div class="dev-skill"><span class="glyphicon dev-skill-rating-5"></span><span>CSS</span></div>
      <div class="dev-skill"><span class="glyphicon dev-skill-rating-4"></span><span>LESS</span></div>
      <div class="dev-skill"><span class="glyphicon dev-skill-rating-5"></span><span>JavaScript</span></div>
      <div class="dev-skill"><span class="glyphicon dev-skill-rating-5"></span><span>AJAX</span></div>
      <div class="dev-skill"><span class="glyphicon dev-skill-rating-5"></span><span>C#</span></div>
      <div class="dev-skill"><span class="glyphicon dev-skill-rating-5"></span><span>.NET</span></div>
      <div class="dev-skill"><span class="glyphicon dev-skill-rating-5"></span><span>XML</span></div>
      <div class="dev-skill"><span class="glyphicon dev-skill-rating-3"></span><span>XSD</span></div>
      <div class="dev-skill"><span class="glyphicon dev-skill-rating-3"></span><span>DTD</span></div>
      <div class="dev-skill"><span class="glyphicon dev-skill-rating-4"></span><span>XSLT</span></div>
      <div class="dev-skill"><span class="glyphicon dev-skill-rating-4"></span><span>PHP</span></div>
      <div class="dev-skill"><span class="glyphicon dev-skill-rating-4"></span><span>T-SQL</span></div>
      <div class="dev-skill"><span class="glyphicon dev-skill-rating-2"></span><span>WPF</span></div>
      <div class="dev-skill"><span class="glyphicon dev-skill-rating-5"></span><span>REST</span></div>
      <div class="dev-skill"><span class="glyphicon dev-skill-rating-4"></span><span>Responsive</span></div>
      <div class="dev-skill"><span class="glyphicon dev-skill-rating-4"></span><span>ASP.NET MVC</span></div>
      <div class="dev-skill"><span class="glyphicon dev-skill-rating-5"></span><span>jQuery</span></div>
      <div class="dev-skill"><span class="glyphicon dev-skill-rating-4"></span><span>Bootstrap</span></div>
      <div class="dev-skill"><span class="glyphicon dev-skill-rating-3"></span><span>Sencha ExtJS</span></div>
    </div>

    <p><i>Hinweis: Dies ist nur ein Auszug der Programmiersprachen und Technologien.</i></p>
  </div>
</div>