.header-top {
  position: fixed;
  top: 0;
  height: 100px;
  width: 100%;
  z-index: 999;
  padding: 30px 80px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  transition: 500ms;
}
@media (max-width: 767px) {
  .header-top {
    padding: 30px 20px;
    height: 50px;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .header-top {
    padding: 30px 20px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .header-top {
    padding: 30px 40px;
  }
}
.header-top.dark {
  background-color: #1b1b1b;
  border-bottom: hidden;
  transition: 500ms;
}
.header-top-info {
  font-family: 'Shadows Into Light', cursive;
  font-size: 20pt;
  color: #fff;
  text-shadow: 0px 5px 10px rgba(5, 5, 5, 0.7);
  float: left;
}
@media (max-width: 767px) {
  .header-top-info {
    font-size: 14pt;
    margin-top: -10px;
  }
}
.header-top-nav {
  float: right;
}
.header-top-nav a {
  color: #fff;
  font-size: 40px;
  margin-top: -5px;
  display: block;
}
@media (max-width: 767px) {
  .header-top-nav a {
    font-size: 22px;
    margin-top: -12px;
  }
}
.header-top-nav a .glyphicon:before {
  content: "\e236";
}
body.open-menue .header-top {
  background: none !important;
  border-bottom: 0;
}
body.open-menue .header-top .header-top-nav .glyphicon:before {
  content: "\e014";
}
