@import "fonts";
@import "variables";

.header {
  &-top {
    position: fixed;
    top: 0;
    height: 100px;
    width: 100%;
    z-index: 999;
    padding: 30px 80px;
    border-bottom: 1px solid rgba(255,255,255, 0.2);
    transition: 500ms;

    @media (max-width: 767px) {
      padding: 30px 20px;
      height: 50px;
    }

    @media (min-width: 768px) and (max-width: 992px) {
      padding: 30px 20px;
    }

    @media (min-width: 992px) and (max-width: 1199px) {
      padding: 30px 40px;
    }

    &.dark {
      background-color: @darkbg;
      border-bottom: hidden;
      transition: 500ms;
    }

    &-info {
      .font-header-info();
      float: left;
    }

    &-nav {
      float: right;
      a {
        color: @font-darkbg;
        font-size: 40px;
        margin-top: -5px;
        display: block;

        @media (max-width: 767px) {
          font-size: 22px;
          margin-top: -12px;
        }

        .glyphicon {
          &:before {
            content: "\e236";
          }
        }


      }
    }
  }
}

body.open-menue {
  .header {
    &-top {
      background: none !important;
      border-bottom: 0;
      .header-top-nav {
        .glyphicon {
          &:before {
            content: "\e014";
          }
        }
      }
    }
  }
}