.dev-skill {
  display: inline-block;
  margin: 20px;

  &s {
    margin-left: -20px;
    margin-right: -20px;
    margin-bottom: 30px;
    text-align: center;
  }

  &-rating {
    &-5 {
      &:before {
        content: "\e006 \e006 \e006 \e006 \e006";
      }
    }
    &-4 {
      &:before {
        content: "\e006 \e006 \e006 \e006 \e007";
      }
    }
    &-3 {
      &:before {
        content: "\e006 \e006 \e006 \e007 \e007";
      }
    }
    &-2 {
      &:before {
        content: "\e006 \e006 \e007 \e007 \e007";
      }
    }
    &-1 {
      &:before {
        content: "\e006 \e007 \e007 \e007 \e007";
      }
    }
  }

  .glyphicon + span {
    display: block;
    text-align: center;
  }
}